<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Insert title here</title>
</head>


				


<style>
table, th, td{
	margin: auto;

}
h1{
	margin: auto;
	text-align: center;
}
</style>
<body>
	<button type="button" onclick = "location.href='/employeesadmin'">List Employee</button>

<h1>Add Employee</h1>
	<form th:modelAttribute="employee" th:action="@{/AddEmployee}" method="POST">
		<table>
			
			<tr>
				<td>Name:</td>
				<td><input type='text' name='name' value=''></td>
			</tr>

			<tr>
				<td>Birthday:</td>
				<td><input type='text' pattern="yyyy-MM-dd" name='birthday' value=''></td>
			</tr>

			<tr>
				<td>Sex:</td>
				<td><input type='text' name='sex' /></td>
			</tr>
			<tr>
				<td>Insurance:</td>
				<td><input type='text' name='insurance' /></td>
			</tr>
			<tr>
				<td>Address:</td>
				<td><input type='text' name='address' /></td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td><input type='text' name='phone' /></td>
			</tr>
			<tr>
				<td>level:</td>
				<td><input type='text' name='level' /></td>
			</tr>
			<tr>
				<td><input name="ADDEmployee" type="submit" value="Add" /></td>
				
			</tr>
		</table>
	</form>

</body>

</html>